.toast-container {
  z-index: 1080; // acima do navbar
}

.toast {
  min-width: 260px;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
  border-radius: .5rem;
}

.toast-success {
  border-left: 4px solid #198754;
}

.toast-error {
  border-left: 4px solid #dc3545;
}

.toast-warning {
  border-left: 4px solid #ffc107;
}

.toast-info {
  border-left: 4px solid #0d6efd;
}
